name: CI-CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: |
          docker build -t portfolio:latest .

      - name: Run Container (Test)
        run: |
          docker run -d -p 8080:80 portfolio:latest
          sleep 5
          curl -f http://localhost:8080 || exit 1